       
.signup-panel{
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  margin-top: 30px;
  text-align: center;
  i{
    font-size: 30px;
    line-height: 50px;
    color: #999;
  }
  
  .welcome{
    font-size: 26px;
    text-align: center;
    /*margin-left: 0;*/
  }
  p{
    font-size: 13px;
    font-weight: 200;
  }
  .button{
  }
  
}   