<div class="row">
  <div class="large-6 large-offset-3 columns">
    <div class="panel">
      <h2>Welcome {{user.first_name}}</h2>
      <a href="/auth/twitter" class="button large" ng-click="getTweets()">
        <i class="fa fa-twitter"></i>
        Login via Twitter
      </a>
       <p>Don't have an account yet? <i><a href="https://twitter.com/signup">Sign up here &raquo</a></i></p>
    </div>
  </div>
</div>  
