<div class="row">
  <div class="large-6 large-offset-3 columns">
    <div class="panel">
      <h2>Welcome {{user.first_name}}</h2>
      <a href="/auth/twitter" class="button large" ng-click="getTweets()">
        <i class="fa fa-twitter"></i>
        Login via Twitter
      </a>
       <p>Don't have an account yet? <i><a href="https://twitter.com/signup">Sign up here &raquo</a></i></p>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="small-6 small-offset-3 columns">
    <h2>TEAM</h2>
    <p>This application was created by <u><a href="http://makersquare.com" target="_blank">MakerSquare</a></u> students</p>
  </div>
</div>
<div class="row team-container">
  <div class="small-4 columns">
    <img src="https://pbs.twimg.com/profile_images/519918969642156032/KPx8AsSC_400x400.jpeg" alt="Parag Dadhaniya" class="team-img">
    <h3>Parag Dadhaniya</h3>
    <a href="https://twitter.com/paragdaDON" class="fa fa-twitter" target="_blank"> @paragdaDON</a>
  </div>
  <div class="small-4 columns">
    <img src="https://media.licdn.com/media/p/8/005/03c/387/19bee26.jpg" alt="Kim Pham" class="team-img">
    <h3>Kim Pham</h3>
    <a href="https://twitter.com/kixton" class="fa fa-twitter" target="_blank"> @kixton</a>
  </div>
  <div class="small-4 columns">
    <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/5/005/09a/2ed/2fb15a7.jpg" alt="Stephan Yu" class="team-img">
    <h3>Stephan Yu</h3>
    <a href="https://twitter.com/YuStephan" class="fa fa-twitter" target="_blank"> @YuStephan</a>
  </div>
</div>
