<div class="row">
  <div class="large-6 large-offset-3 columns">
    <div class="signup-panel">
      <p class="welcome"> Welcome {{user.first_name}}</p>
      <a href="/auth/twitter"><%= image_tag("twitterSignUp.png", :alt => "Twitter sign up") %></a>
       <p>Don't have an account yet? <a href="#">Sign up here &raquo</a></p>
    </div>
  </div>
</div>              
