<div ng-show='view'>
  <h3>Welcome {{user.first_name}}</h3>
  <button ng-click="startGame()">Start Game</button>
  <button ng-click="showHighScore()">Show High-Score</button>
</div>

<div ng-hide='view'>
  <h3>Top 10 High-Scores</h3>
  <table>
    <thead>
      <tr>
        <th>User Name</th>
        <th>High Score</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="score in scores | orderBy: '-scores' | limitTo: 10">
        <td>{{score.user}}</td>
        <td>{{score.scores}}</td>
      </tr>
    </tbody>
  </table>
  <button ng-click='showMenu()'>Back</button>
</div>
