<div ng-show='view'>
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <div class="panel">
        <h3>Welcome {{user.first_name}}</h3>
        <a ng-click="startGame()" class="button large">Start Game</a>
        <button ng-click="showHighScore()">Show High-Score</button>
      </div>
    </div>
  </div>
</div>

<div ng-hide='view'>
  <div class="row">
    <div class="large-6 columns">
      <h3>Top 10 High-Scores All Users</h3>
      <table>
        <thead>
          <tr>
            <th>User Name</th>
            <th>High Score</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="score in scores | orderBy: '-scores' | limitTo: 10">
            <td>{{score.user.full_name}}</td>
            <td>{{score.scores}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="large-6 columns">
      <h3>Top 10 High-Scores {{currentUser.full_name}}</h3>
      <table>
        <thead>
          <tr>
            <th>User Name</th>
            <th>High Score</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="score in scores | orderBy: '-scores' | limitTo: 10 | filter: {user: currentUser.twitter_uid}">
            <td>{{score.user.full_name}}</td>
            <td>{{score.scores}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>  
  <div class='row'>
    <button ng-click='showMenu()'>Back</button>
    <button ng-click='showGraph()'>Show Graph</button>
  </div>
</div>
    