<div class="large-8 large-offset-2 columns">
  <div ng-show="showScore">
    <div class="row">
      <div class="tweet-container">
        <div class="tweet-header">
          <img class="anon-avatar" src="http://www.mediabistro.com/alltwitter/files/2010/12/palkoo-twitter-avatar.png">
          <div class="tweet-author">
            <span class="author-name">Who tweeted that?</span>
            <span class="author-screename">@guess_who_tweeted_that</span>
          </div>
        </div>
        <div class="tweet-quote">
          <p class="quote">{{ displayedTweet.last_tweet }}</p>
          <p class="time-date">2:20 PM - 12 Nov 2014</p>
        </div>
        <div class="tweet-footer">
          <span class="retweets"><b>10</b> RETWEETS</span>
          <span class="favorites"><b>0</b> FAVORITES</span>
        </div>
      </div>

    <div class="answers-container">
      <button class="choices" ng-class="{'correct' : theAnswer === tweet}" ng-repeat="tweet in tweets | limitTo:4" ng-click="checkAnswer(tweet, $event)">
        @{{tweet.name}}
      </button>


    <div class="row">
      <div ng-show='showCorrectAnswer'>
        <div class="row">
          <div ng-bind-html="tweetToEmbed">
          </div>
          <button ng-click="nextQuestion()">Next Question</button>
        </div>
      </div>
    </div>
    </div>

  </div>
</div>
    <div ng-hide="showScore">
      <p>Your score is: {{correctAnswers}} ({{correctAnswers/5*100}}%)</p>
      <button ng-click="startGame()">New Game</button>
    </div>
</div>
