<div class="large-12 columns">
  <div ng-show="score">
    <div class="row">
      <p>Who Tweeted This?!?!</p>
      <div>
        {{ displayedTweet.last_tweet }}
      </div>
    </div>

    <div class="row">
      <p>Choices</p>
        <div ng-repeat="tweet in tweets | limitTo:4">
          <button ng-click="checkAnswer(tweet)">{{tweet.name}}</button>
        </div>
    </div>

    <div class="row">
      <div ng-show='showCorrectAnswer'>
        <p>Your answer was {{response}}!!</p>
        <p>The correct answer is {{displayedTweet.name}}!!</p>
      </div>
    </div>
  </div>

  <div ng-hide="score">
    Your score is: {{correctAnswers}}
    <button ng-click="startGame()">New Game</button>
  </div>
 

</div>
